* {margin: 0;padding: 0;}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100vw;
    min-height: 100vh;
    color: gray;
}

.main-wrapper {
    display: flex;
    gap: 120px;
}

.left {
    display: flex;
    width: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 70px;
    border: 1px solid gray;
    border-radius: 6px;
    box-shadow: 3px 3px 10px gray;

    gap: 35px;
    width: 100%;
}

.header-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

img {
    width: 100px;
    height: 100px;
}

.body-button {
    display: flex;
    flex-direction: column;

    width: 150px;
}

.action-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 25px;
   
    list-style: none;
    margin: 0;
    padding: 0;
}

.action-list button {
    width: 100%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    color: gray;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    margin: 70px;
}

.manager-profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
    margin-bottom: 10px;
}

.manager-profile img{
    border: 1px solid gainsboro;
    border-radius: 100px;
}

.reserve {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.reserve label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 70px;
    height: 28px;
    background: gainsboro;
    border-radius: 6px;
}

.reserve input {
    display: flex;
    text-align: center;

    width: auto;
    height: 28px;
    border-radius: 6px;
    border: 1px solid gray;
    color: gray;
}
.reserve-update {
    width: 150px;
    height: 35px;
    font-size: 20px;
    border-radius: 6px;

    border: 1px solid gray;
    margin-top: 30px;
    color: gray;
}