* {margin: 0;padding: 0;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 100vh;
    min-height: 100vh;
    gap: 60px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100vw;
    color: gray;
}

.main-wrapper {
    display: flex;
    gap: 120px;
}

.left {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 70px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 3px 6px 8px 0px gray;

    gap: 35px;
    width: 100%;
    box-sizing: border-box;
}

.header-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.header-profile img {
    width: 80px;
    height: 80px;
    background: gray;
    border-radius: 100%;
}

.body-button {
    display: flex;
    flex-direction: column;

    width: 150px;
}

.action-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 25px;
   
    list-style: none;
    margin: 0;
    padding: 0;
}

.action-list button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 20px;

    color: gray;
    border: 1px solid gray;
    border-radius: 6px;
    box-sizing: border-box;
}

.action-list li:nth-child(2) button {
  /* 회원 정보 버튼 전용 스타일 */
    background: darkgray;
    color: black;
    border: 1px solid black;
}


.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    margin: 10px;
}

.manager-profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
    margin-bottom: 10px;
}

.manager-profile img{
    width: 150px;
    height: 150px;
    border: 1px solid gainsboro;
    border-radius: 100px;
}

.reserve {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.reserve label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 70px;
    height: 35px;
    background: gainsboro;
    border-radius: 6px;
}

.reserve input {
    display: flex;
    text-align: center;

    width: auto;
    height: 35px;
    border-radius: 6px;
    border: 1px solid gainsboro;
    color: gray;
}
.reserve-update {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 6px;

    border: 1px solid black;
    background: rgb(185, 185, 185);
    margin-top: 30px;
    color: rgb(0, 0, 0);
}