*{margin: 0;padding: 0; box-sizing: border-box;}


.sec1{margin-top: 130px; margin-bottom: 150px;  
    justify-content: center; text-align: center; display: flex;}

.container h1{ margin-bottom: 40px;}
.sec2{background-color: #f1f1f1; 
    height: 36px; 
    margin-bottom: 30px;}

.sec3{justify-content: center; 
    text-align: center; 
    font-size: 0px;
    }


.btn{margin-top:
     50px; width: 120px;
      height: 22.5px;
       background-color:
       lightgray; border: solid gray 2px; border-radius: 8px;}

.imgbox {
  position: relative;   /* 기준점 */
  display: inline-block;
  margin: 0 10px;
}

.imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 비율 유지 + 꽉 채우기 */
  display: block;
}

.imgbox img a{
  width: 100%;
  height: 100%;
  display: inline-block;
}
.img-check {
  position: absolute;
  top: 5px;     
  left: 5px;
  z-index: 10; 
pointer-events: auto;
}
