
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 100vh;
    min-height: 100vh;
    gap: 60px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100vw;
    color: gray;
}

.main-wrapper {
    display: flex;
    gap: 100px;
}

.left {
    display: flex;
    width: 300px;
    height: 530px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 3px 6px 8px 0px gray;
    gap: 35px;
    width: 100%;
}

.header-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.header-profile img {
    width: 80px;
    height: 80px;
    background: gray;
    border-radius: 100%;
}

.body-button {
    display: flex;
    flex-direction: column;

    width: 150px;
}

.action-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 25px;
   
    list-style: none;
    margin: 0;
    padding: 0;
}

.action-list button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 20px;

    color: gray;
    border: 1px solid gray;
    border-radius: 6px;
    box-sizing: border-box;
}

.action-list li:nth-child(3) button {
  /* 회원 정보 버튼 전용 스타일 */
    background: darkgray;
    color: black;
    border: 1px solid black;
}


.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 500px;
    width: 480px;

    gap: 10px;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.detail-card{
    display: flex;
    flex-direction: column;

    gap: 5px;
    width: 100%;
    height: 600px;
    border-radius: 8px;
    
    overflow: hidden;
    /* border: 1px solid gainsboro; */
    align-items: center;
}

.review-photo {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 5px;
    overflow: hidden;
    /* border: 1px solid gainsboro; */
}

.review-photo img{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.review-detail img {
     display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;

    width: 100px;
    height: 100px;
    border: 1px solid gainsboro;
    border-radius: 100px;
}

.review-detail {
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: end;

    width: 100%;
    gap: 15px;
}

.label-wrap {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;

    width: 100%;
}
.label-wrap label {
    align-content: center;
    height: 30px;
    width: 80%;
    background: gainsboro;
    border-radius: 6px;
}

.right textarea {
    border: none;
    font-size: 15px;
    padding: 10px;

    width: 100%;
    height: 50%;
}

.right .update {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 6px;

    border: 1px solid black;
    background: rgb(185, 185, 185);
    margin-top: 20px;
    color: rgb(0, 0, 0);
}
