*{margin: 0; padding: 0; box-sizing: border-box;}

header{height: 60px; display: flex ; align-items: center; justify-content: space-between;
background-color: #f1f1f1; padding: 0 20px;}
img{width: 30px;}


h2{text-align: center; font-size: 40px;}
/* 본문 */
.view-wrap {
  width: 70%;
  margin: 40px auto;
}

.view-box {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.view-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid gray;
}

.view-info {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.view-content {
  font-size: 15px;
  line-height: 1.6;
  white-space: pre-line; /* 줄바꿈 유지 */
}
.btn-area{display: flex;
align-items: center;
}
.btn-right{margin-left: auto;}
button{
     margin-left: 10px;
 background-color: lightgray; border: solid gray 2px; border-radius: 8px;}
