* {margin: 0;padding: 0;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 100vh;
    min-height: 100vh;

    gap: 45px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 70px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0px 6px 6px 0px gray;

    gap: 35px;
    width: 100%;

    box-sizing: border-box;
}

.header-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

img {
    width: 80px;
    height: 80px;
    background: gray;
    border-radius: 100%;
}

.body-button {
    display: flex;
    flex-direction: column;

    width: 150px;
}

.action-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 25px;
   
    list-style: none;
    margin: 0;
    padding: 0;
}

.action-list button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 20px;

    border: 1px solid gray;
    border-radius: 6px;
    box-sizing: border-box;
}