* {margin: 0;padding: 0;}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100vw;
    min-height: 100vh;
    color: gray;
}

.main-wrapper {
    display: flex;
    gap: 120px;
}

.left {
    display: flex;
    width: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 70px;
    border: 1px solid gray;
    border-radius: 6px;
    box-shadow: 3px 3px 10px gray;

    gap: 35px;
    width: 100%;
}

.header-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

img {
    width: 100px;
    height: 100px;
}

.body-button {
    display: flex;
    flex-direction: column;

    width: 150px;
}

.action-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 25px;
   
    list-style: none;
    margin: 0;
    padding: 0;
}

.action-list button {
    width: 100%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    color: gray;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    margin: 70px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 28px;

    background: gainsboro;
    border-radius: 6px;
}

input {
    display: flex;
    text-align: center;

    width: auto;
    height: 28px;
    border: 1px solid gray;
    border-radius: 6px;
    color: gray;
}
.user-sex {
    display: flex;
    gap: 15px;
}
.user-sex button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 63px;
    border: 1px solid gray;
    border-radius: 6px;
    color: gray;
}

.update {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 60px;
    width: 150;
    height: 35;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid gray;
    color: gray;
}