* {margin: 0;padding: 0;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 100vh;
    min-height: 100vh;
    gap: 60px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100vw;
    color: gray;
}

.main-wrapper {
    display: flex;
    gap: 120px;
}

.left {
    display: flex;
    width: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 70px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 3px 6px 8px 0px gray;

    gap: 35px;
    width: 100%;
}

.header-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

img {
    width: 80px;
    height: 80px;
    background: gray;
    border-radius: 100%;
}

.body-button {
    display: flex;
    flex-direction: column;

    width: 150px;
}

.action-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 25px;
   
    list-style: none;
    margin: 0;
    padding: 0;
}

.action-list button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 20px;

    color: gray;
    border: 1px solid gray;
    border-radius: 6px;
    box-sizing: border-box;
}

.action-list li:first-child button {
  /* 회원 정보 버튼 전용 스타일 */
    background: darkgray;
    color: black;
    border: 1px solid black;
}


.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    margin: 10px;
}

.user-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 40px;

    background: gainsboro;
    border-radius: 6px;
}

input {
    display: flex;
    text-align: center;

    width: 250px;
    height: 40px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    color: gray;
}
.user-sex {
    display: flex;
    gap: 15px;
}
.user-sex button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 117px;
    border: 1px solid ghostwhite;
    border-radius: 6px;
    color: gray;
}

.update {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 40px;
    width: 160;
    height: 40;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid gray;
    color: gray;
}