@charset "UTF-8";
@charset "UTF-8";

* {margin: 0;padding: 0;box-sizing: border-box;}

main {
    min-height: 100vh;
	width: 1060px;
	max-width: 100%;
	
	display: flex;
    align-items: center;
}

.inner {
	width: 970px;
	max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 45px;
    gap: 100px;
    /* min-height: 100vh; */
}

.left {
    width: 315px;
    max-width: 100%;
}

.right {
    display: flex;
    width: 550px;
    max-width: 100%;
    /* justify-content: center; */
    /* gap: 3rem; */
    /* flex-direction: row; */
    height: 650px;
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.review-container img {
    width: 250px;
    height: 210px;
}

.card-body {
    margin: 0 0.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 20px;
}

.card-text {
    height: 140px;
    padding: 0.5rem;
    border: 1px solid gainsboro;
}

.card-footer {
    margin: 0.5rem;
    color: gray;
}