* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    }
    
    .reserve-complete {
      max-width: 600px;
      margin: 0 auto;
      font-family: Arial, sans-serif;
    }
    .designer-info img {
      width: 300px;
      height: 350px;
      /* border-radius: 50%; */
    }

    button {
        /* display: block; */
        width: 150px;
        height: 50px;
        font-size: 18px;
        /* margin: 0 auto; */
    }
    .actions button {
      background-color: royalblue;
      color: white;
      border: none;
      padding: 10px 20px;
      margin-right: 10px;
      cursor: pointer;
      border-radius: 5px;
    }

   h2 {
      text-align: center;
      margin-top: 20px;
      padding-bottom: 50px;
      font-size: 30px;
    }
    p {
        text-align: right;
        padding-bottom: 30px;
        font-weight: bold;
        font-size: 25px;
    }